[submodule "blockchain"]
	path = blockchain
	url = https://github.com/dvf/blockchain
[submodule "credits"]
	path = credits
	url = https://github.com/dvf/blockchain
[submodule "blockchain_examples"]
	path = blockchain_examples
	url = https://github.com/dvf/blockchain
